@import "tailwindcss";

@theme {
  /* Font Family */
  --font-family-poppins: "poppins", sans-serif;

  /* Background Image */
  --background-image-hero: url("/public/hero/1.png");
  --background-image-cloud: url("/public/illustrator/cloud.svg");

  /* Colors */
  --color-primary-100: #2a4b32;
  --color-primary-200: #3c5643;
  --color-primary-300: #2a4b32;
  --color-primary-400: #27422e;
  --color-secondary-200: #f5a100;
  --color-secondary-300: #f5a100;

  /* Animation */
  --animate-move-left-right: move-left-right 3s ease-in-out infinite;
  --animate-move-left-right-right: move-left-right-right 3s ease-in-out infinite;
  --animate-horizontal-bounce: horizontal-bounce 1.5s infinite;
  --animate-zoomIn: zoomIn 0.5s ease-out;

  @keyframes move-left-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
  }

  @keyframes move-left-right-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }

  @keyframes horizontal-bounce {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

::selection {
  @apply bg-secondary-300 text-white;
}

.map-container {
  width: 100%;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.indonesia {
  width: 100%;
  /* SVG mengikuti lebar kontainer */
  height: auto;
  /* Tinggi otomatis agar proporsional */
  display: block;
}

.indonesia path {
  fill: #ffff;
  transition: fill 0.6s;
}

.pulau_active path:hover {
  fill: #fbc740;
  cursor: pointer;
}

.pulau_nonactive path:hover {
  fill: red;
  cursor: pointer;
}

#tooltip {
  position: absolute;
  z-index: 10;
  background-color: #fbc740;
  color: #000;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.root3d {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  color: white;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 85px;
  transform: scale(0.25);
  transform-origin: center top;
}

.spinner {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: -42px;
  margin-top: -42px;
  animation: fadeIn 2.4s ease-in-out 1.2s forwards;
  opacity: 0;
}

.spinner__image {
  width: 164px;
  height: 164px;
  background-size: contain;
  background-image: url("/illustrator/logo/navbar.png");
  animation: rotate 10s linear infinite;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 24vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.outro--appear {
  opacity: 1;
}

.outro__text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: white;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }

  .intro--disappear .logo {
    top: 24px;
    transform: scale(0.5);
    transform-origin: center top;
  }

  .spinner__image {
    width: 82px;
    height: 82px;
  }

  .outro__text {
    font-size: 1rem;
  }
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Ensure the Three.js canvas has a lower z-index than the modal */
canvas {
  z-index: 0 !important;
}

/* Optional: Ensure the canvas container doesn't override z-index */
.r3f-container {
  z-index: 0 !important;
}
/* 
.slide-custom {
  transform: scale(0.7);
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  transform: scale(1.15) !important;
  z-index: 10;
} */

/* animations.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out both;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.5s ease-in forwards;
}
